body {
    margin: 10px 10px 10px 10px;
    padding: 0;
    width: auto; 
}

.fondoheader {
    width: 100%;
    height: 200px;
}

.fondoheader {
    border: 3px solid black;
}
.fondoheader {
    background-color: #a2b3a3;
    }

    .bg-personalizado{
        background-color: #a2b3a3;
        z-index: 3;
    }

.d-block {
    width: 100%;
    height: 100%;
}

.fondopromos img {
    height: 250px;
    width: 400px;
}

.fondopromos {
    background-color: #721d15;
    border: 3px solid black;
}

.quienessomos {
    background-color: moccasin;
}
.fondofieldset {
    background-color: #dd771d;
    border: 3px solid black;
}
.fondopedidos {
    background-color: #dd771d;
}

main img {
    height: 200px;
    width: 300px;
}

main ul {
    list-style: none;
}

footer img {
    height: 100px;
    width: 160px;
}
.footercolor {
    background-color: #a5351d;
    margin: 2 rem;
    padding: 2 rem;
    border: 2 rem;
    text-align: center;
}

.footercolor {
    border: 3px solid black;
}


main {
    border: 3px solid black;
}


.fondomaininicio {
    background-image: linear-gradient(to left, #dd771d, white, #dd771d);
}

.galeria_titulo {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    width: 100%;
    margin: 0;
    padding: 10px;
}

.discalimer{
    display: none !important
}

